@model Tarefas.Web.Models.UsuarioViewModel

<form asp-controller="Usuario" asp-action="ValidarUsuario">

    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        <style>
            .custom-jumbotron {
                background-color: DodgerBlue;
                color: white;
            }
            .login {
                width: 40%;
                padding: 15px;
            }
            @@media(max-width:800px) {
                .login {
                    width: 70%;
                }
            }
        </style>
        <div>
            <div class="container border login">

                <div class="jumbotron text-center custom-jumbotron">
                    <h3><strong>Faça Login</h3></strong>
                </div>
                <form>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input asp-for= "Email" type="text" class="form-control" id="Email" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input asp-for= "Senha" type="password" class="form-control" id="Senha" placeholder="Digite a senha ">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Lembre-me</label>
                    </div>
                    <button type="Submit" class="btn btn-primary btn-block" style="margin-top: 20px;">Entrar</button>

                    <div asp-validation-summary="All" class="text-danger"></div>

                </form>

            </div>

        </div>

    </body>

    </html>
</form>
