@model Tarefas.Web.Models.TarefaViewModel


<form asp-action="Criar">
    <label for="Id">id:</label>
    <input asp-for="Id" type="int"></input>
    <label for="Titulo">Titulo:</label>
    <input asp-for="Titulo" type="text"></input>
    <label for="Descricao">Descricao:</label>
    <input asp-for="Descricao" type="text"></input>
    <label for="Status">Status:</label>
    <input asp-for="Status" type="text"></input>
    <input type="submit" />
</form>






