@model Tarefas.Web.Models.TarefaViewModel

Visualizando a tarefa @Model.Id

<Table>
    <Tr>
        <td>
            Titulo
        </td>
        <Td> 
            @Model.Titulo
        </td>
        <td>
            Descrição
        </td>
        <td> 
            @Model.Descricao
        </td>
    </Tr>
</Table>