@model Tarefas.Web.Models.TarefaViewModel

Visualizando a tarefa @Model.Id

<Table>
    <tr>
        <td>
            Titulo:
        </td>
        <Td> 
            @Model.Titulo
        </td>
    </tr>
    <tr>
        <td>
            Descrição:
        </td>
        <td> 
            @Model.Descricao
        </td>

    </tr>
    <tr>
        <td>
            Status:
        </td>
        <td> 
            @Model.Status
        </td>
        
    </tr>

</Table>