@model List<Tarefas.Web.Models.TarefaViewModel> 
    


<form asp-action="Listar">
    <table>
        <tr>
            <td>Id</td>
            <td>Codigo</td>
            <td>Titulo</td>
            <td>Status</td>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Titulo</td>
                <td>@item.Status</td>
                <td>

                <a
                    class="nav-link text-dark"
                    asp-area=""
                    asp-controller="Tarefa"
                    asp-action="Detalhe"
                    asp-route-id="@item.Id">Detalhar
                </a>
                    
                </td>
            </tr>
        }
    </table>
</form>